{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <h2 class="h3 mb-3 text-black">Change password</h2>
          </div>
          <div class="col-md-12 d-flex justify-content-center" >

            <form action="#" method="post" enctype="multipart/form-data">
              <div class="p-3 p-lg-5 border">
              {% csrf_token %}
              
              <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Current Password</label>
                  <input type="password" id="form2Example1" class="form-control" name="upassword" value="{{user.uemail}}" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form2Example2">New Password</label>
                  <input type="password" id="form2Example2" class="form-control" name="pass1" value="{{user.uphone}}" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form2Example2">Confirm Password</label>
                  <input type="password" id="form2Example2" class="form-control" name="pass2" value="{{user.uphone}}" />
                </div>

            

                <div class="form-group row">
                  <div class="col-lg-12">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Update">
                  </div>
                </div>
                
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

    {% endblock %}