
<hr>
<h6 style="text-align: center;">RICKS - Invoice</h6>
<hr>
<div class="container text-center">
  <div class=" offset-sm-1 pt-5">
      <div class="row text-center align-items-center justify-content-center text-black">
          <h4 class="pb-3"></h4>
          
              <div class="col-sm-4 ">
                
                  <div class="card mb-3">
                    
                      <div class="card-body ">
                        
                          <h6>Bill-date :</h6>{{date}}
                          <h6>order id :</h6> {{ orderid }}
                          <h6>ordered date : </h6>{{ ordered_date }}
                          <hr>
                          <h6 style="text-align: center;">Delivered to</h6>
                          <hr>
                          <p><h6>Name :</h6>{{name}}</p>
                          <p><h6>Address : </h6>{{housename}},{{locality}}, <br>{{city}}, {{state}} - {{zipcode}}</p>
                          <p><h6>Phone : </h6>{{phone}}</p>
                          <p><h6>Product : </h6>{{product}}</p>
                          <p><h6>Amount : </h6>{{amount}}</p>
                          <p><h6>Order Type : </h6>{{ordertype}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br>


